html, body {
    background: #eaeaea;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
md-card {
    background: #fafafa;
    margin-top: 30px;
}
md-content {
    margin-top: 50px;
}
.ribbon {
    background-color: #546e7a;
    color: white;
    flex-shrink: 0;
    width: 100%;
}
.header {
    margin-bottom: 60px;
}
.header p {
    color: #eee;
    text-shadow: 0 1px 3px #222;
}
.main {
    margin-top: 10px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
    padding: 0 0 10px 0;
}
a, a:active, a:visited {
    text-decoration: none;
    color: #546e7a;
}
a:hover {
    text-decoration: underline;
}
a i {
    margin-right: 16px;
}
md-card a {
    font-size: 20px;
}
.filler {
    width: 100%;
    height: 150px;
}
.no-margin-padding {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
}
.job-years {
    font-size: 14px;
    color: #444444;
    font-style: italic;
    margin: 0;
    padding: 0;
}
.job-description {
    font-size: 14px;
    color: #444444;
    margin: 0 0 10px 0;
    padding: 0;
}